$primary-text-color:#757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$secondary-text-color: #FFFFFF;
$background-button-color:#F5F4FA;
$footer-contact: rgba(255, 255, 255, 0.6);
$background-color: #2F303A;
$icon-color: #AFB1B8;